@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Vina+Sans&display=swap');

.footer{
    background-color: #20262E;
    width: 100%;
    max-width: calc(100% - 20px);
    height: 155px;
    position : sticky;
    margin-top: 100px;
    padding: 20px;
}
.contact{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: beige;
}

.logo{
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.linkedin{
    background: url('../assets/linkedin.png') no-repeat;
    background-size:contain;
    height: 30px;
    width: 30px;
    overflow: hidden;
    z-index: 5px;
    justify-content: left;
    padding-right: 25px;
    cursor: pointer;
}
.medium{
    background: url('../assets/medium.png') no-repeat;
    background-size:contain;
    height: 30px;
    width: 30px;
    overflow: hidden;
    z-index: 5px;
    justify-content: left;
    padding-right: 25px;
    cursor: pointer;
}
.github{
    background: url('../assets/github.png') no-repeat;
    background-size:contain;
    height: 30px;
    width: 30px;
    overflow: hidden;
    z-index: 5px;
    justify-content: left;
    padding-right: 25px;
    cursor: pointer;
}

a{
    color: beige;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;

}


@keyframes load {
    0% {
        background: #fff;
        border: 0px solid #fff;
   }
    50% {
        background: #fff;
        border: 5px solid #56a974;
   }
    100% {
        background: #fff;
        border: 0px solid #56a974;
   }
}
@media only screen and (max-width: 480px) {
    .contact{
        display: none;
        bottom:-700px;
    }
}
@media only screen and (max-width: 1024px) {
    .contact{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 720px) {
    .contact{
        font-size: 1rem;
    }
}